-- =====================================================
-- Object:  Table [dbo].[CategoriasRequisitos]
-- Script Date: 19/4/2025 11:40:26
-- =====================================================

CREATE TABLE [dbo].[CategoriasRequisitos] (
    [ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL
);