-- =====================================================
-- Object:  Table [dbo].[Categorias]
-- Script Date: 19/4/2025 11:40:26
-- =====================================================

CREATE TABLE [dbo].[Categorias] (
    [ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [varchar](50) NOT NULL
);