-- =====================================================
-- Object:  Table [dbo].[documentos_tickets]
-- Script Date: 19/4/2025 11:40:26
-- =====================================================

CREATE TABLE [dbo].[documentos_tickets] (
    [ID] [int] IDENTITY(1,1) NOT NULL,
	[TicketID] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[RutaArchivo] [varchar](255) NOT NULL,
	[FechaSubida] [datetime] NULL DEFAULT GETDATE(),

    CONSTRAINT FK_documentos_tickets_Tickets FOREIGN KEY (TicketID)
        REFERENCES [dbo].[Tickets] (ID)
);