-- =====================================================
-- Object:  Table [dbo].[Lista]
-- Script Date: 19/4/2025 11:40:26
-- =====================================================

CREATE TABLE [dbo].[Lista] (
    [Cedula] [int] NOT NULL PRIMARY KEY,
    [Cliente_ID] [int] NULL
);