-- =====================================================
-- Object:  Table [dbo].[CategoriasRequisitos]
-- =====================================================

CREATE TABLE [dbo].[CategoriasRequisitos] (
    [ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL
);