-- =====================================================
-- Object:  Table [dbo].[Categorias]
-- =====================================================

CREATE TABLE [dbo].[Categorias] (
    [ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre] [varchar](50) NOT NULL
);