-- =====================================================
-- Object:  Table [dbo].[Cotizacion]
-- =====================================================

CREATE TABLE [dbo].[Cotizacion] (
    [ID] [int] NOT NULL,
	[Cliente_ID] [int] NULL,
	[Descripcion] [varchar](500) NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Fecha] [datetime] NULL,
);