-- =====================================================
-- Object:  Table [dbo].[EstadosTickets]
-- =====================================================

CREATE TABLE [dbo].[EstadosTickets] (
    ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Estado VARCHAR(50) NOT NULL UNIQUE
);