-- =====================================================
-- Object:  Table [dbo].[Lista]
-- =====================================================

CREATE TABLE [dbo].[Lista] (
    [Cedula] [int] NOT NULL PRIMARY KEY,
    [Cliente_ID] [int] NULL
);